<header>
    <nav>
        <ul>
            <li><a href="/">Shop</a></li>
            <li><a href="/addproduct">Add Product</a></li>
            <li><a href="/sendmail">Example of nodemailer</a></li>
        </ul>
    </nav>
</header>